<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	 
 
	<!-- 切面 -->
	<!-- aop编写,让Spring自动对目标进行代理，需要使用AspectJ的表达式 -->
	<!-- <bean id="logHandler" class="com.jdbc.LogHandler"/> -->

<!--  use cglib proxy	 -->
 <aop:aspectj-autoproxy expose-proxy="true"></aop:aspectj-autoproxy>
 
	 
	
	<bean id="aspectBean" class="com.gwz.aop.TestAspect" />
	<!-- proxy-target-class="false"  create proxy class base interface -->
	<aop:config proxy-target-class="false">

	<!-- 切入点 -->
		<!-- <aop:pointcut expression="execution(* com.gwz.serviceimpl..*(..))"
			id="txPointCut" />-->
		<!-- 切面:将切入点和通知整合 -->
		<!-- <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut" /> -->

		<aop:aspect id="TestAspect" ref="aspectBean">
			<!-- 配置com.gwz.web.action包下所有类或接口的所有方法 -->
			<aop:pointcut id="businessService"
				expression="execution(* com.gwz.serviceimpl..*.*(..))||execution(* com.gwz.web.action..*(..))" />
			<aop:before pointcut-ref="businessService" method="doBefore" />
			<aop:after pointcut-ref="businessService" method="doAfter" />
			<aop:around pointcut-ref="businessService" method="doAround" />
			<aop:after-throwing pointcut-ref="businessService"
				method="doThrowing" throwing="ex" />
		</aop:aspect>
	</aop:config>

</beans>